h1, h2, h3, p, a, div {
  color: #fff;
  font-family: 'Varela Round', sans-serif;
}

input, button {
  padding: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
}

div {
  display: flex;
  /* flex: 1; */
}

* {
  outline: none;
}

.row {
  flex-direction: row;
}

.playlist {
  position: relative;
  overflow: hidden;
  height: 340px;
  width: 100%;
}

.playlist .trackList {
  flex-direction: column;
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  width: 100%;
}

.playlist .track {
  padding: 10px;
  transition: 200ms;
  cursor: pointer;
}

.playlist .track:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.01);
}

.playlist .track > * {
  margin: 0 10px;
}

.playlist .track > p:first-of-type {
  color: #ccc;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.playlist .track > p:nth-last-of-type(2) {
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.playlist .blurredBg {
  z-index: -10;
  position: absolute;
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  background-size: cover;
  filter: blur(10px);
  background-position: center;
  transition: 500ms;
}

 .playlist .blurredBg::before {
  content: '';
  background-color: #000;
  opacity: 0.2;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}